<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6ZOKqSy2ixju82aH4HJtRzCyL7-cR5r0</string>
	<key>GCM_SENDER_ID</key>
	<string>55342708752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beilsang.ios</string>
	<key>PROJECT_ID</key>
	<string>beilsang-d4e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>beilsang-d4e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55342708752:ios:c70dae3c7d18008a633295</string>
</dict>
</plist>